<!-- Confirm Deletion -->
<div id='confirm-delete-profile-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
	<center><h4 style="margin-bottom: 2px">
	  Are you sure you want to delete this profile?</h4>
	  <span class="hidden text-warning" id="confirm-delete-profile-warning">
	    (Note: this is the most <em>recent version</em> of this profile)
	  </span>
	</center>
      </div>
      <div class='modal-body'>
	<p>
	  <em>Warning; deleting a profile cannot be undone!</em> In
	  addition, if you have published links to this profile
	  (version), or sent links to collaborators, those links
	  <b>will no longer be valid</b>. If you want to delete
	  <em><b>all versions</b></em> of
	  this profile, please check the box.
	</p>
	<center>
	  <input id='delete-all-versions' value='checked'
		 type='checkbox'> Delete all versions of this profile.
	</center>
	<br>
	<center>
          <button class='btn btn-danger btn-sm'
		  id='confirm-delete-button'
		  style='margin-right: 10px;'
		  type='button' name='delete'>Confirm
	  </button>
          <button class='btn btn-default btn-sm'
		  data-dismiss='modal'
                  type='button'>Cancel
	  </button>
	</center>
      </div>
    </div>
  </div>
</div>
