<style>
 .tooltip-inner {
     text-align: left;
 }
 .panel-heading-list {
     padding: 2px;
 }
 .panel-body-dashboard {
     padding: 2px;
 }

 .group-row {
     border: 1px solid grey;
 }
 .group-row,
 .group-row .panel {
     //background-color: #ebf2fa !important;
     margin-bottom: -1px;
 }
 .structset {
     border: 1px solid grey;
     margin-bottom: -1px;
 }
 .struct-row,
 .struct-row .panel {
     //background-color: #ebf2fa !important;
 }
 .resgraph-size {
     max-height:300px;
     height:300px;
 }
 .resgraph-modal-size {
     max-height:600px;
     height:600px;
 }
 svg {
     display: block;
 }
 .scrollable-submenu {
     height: auto;
     max-height: 250px;
     overflow-x: hidden;
 }
 .scrollable-menubroken {
     height: auto;
     max-height: 250px;
     overflow-y: scroll;
 }
 .icon-info-right {
     position: absolute;
     right: 10px;
     top: 3px;
     padding: 0px;
     pointer: pointer;
 }
 .right-menu {
     top: 0;
     left: unset;
 }
 .open > .right-menu {
     display: inline-block;
 }
 .right-caret {
     border-bottom: 4px solid transparent;
     border-top: 4px solid transparent;
     border-left: 4px solid;
     display: inline-block;
     margin-left: 2px;
     margin-top: 5px;
     margin-right: -10px;
     height: 0;
     width: 0;
     float: right;
 }
 .table-condensed > thead > tr > th,
 .table-condensed > tbody > tr > th,
 .table-condensed > tfoot > tr > th,
 .table-condensed > thead > tr > td,
 .table-condensed > tbody > tr > td,
 .table-condensed > tfoot > tr > td {
     padding-top: 2px;
     padding-bottom: 2px;
 }
 
</style>  
<div>
  <div id='about_div'
       class='col-lg-8  col-lg-offset-2
	      col-md-8  col-md-offset-2
	      col-sm-10 col-sm-offset-1
	      col-xs-12 col-xs-offset-0'>
  </div>
  <div id='stepsContainer'>
    <h3>Select a Profile</h3>
    <div class='col-lg-8  col-lg-offset-2
		col-md-8  col-md-offset-2
		col-sm-10  col-sm-offset-1
		col-xs-12 col-xs-offset-0'>
      <form id='step0-form' role='form' class="step-forms"
	    enctype='multipart/form-data'
	    method='post' action='instantiate.php'>
	<!-- Guest users see the first wizard step in a panel -->
	<div <% if (!registered) { %>class='panel panel-default'<% } %>>
	  <% if (!registered) { %>
	    <div class='panel-heading'>
	      <h3 class='panel-title'>
		<center>Start Experiment
		  <% if (profilename) { %>
		    using profile '<%= profilename %>'
		  <% } %>
		</center>
	      </h3>
	    </div>
	  <% } %>
	  <div <% if (!registered) { %>class='panel-body'<% } %>>
	    <% if (!registered) { %>
	      <% if (profilename) { %>
		<!-- Will only show header when linked to a profile -->
		<h3 style='margin: 0px;'>
		  <center>Start Experiment
		    using profile '<%= profilename %>'
		  </center>
		</h3>
	      <% } %>
	      <!-- If linked to a specific profile, description goes here -->
	      <% if (profilename) { %>
		<p>
		  Fill out the form below to run an experiment
		  using this profile:
		</p>
		<blockquote>
		  <p><span id='selected_profile_description'></span></p>
		</blockquote>
		<p>
		  When you click the 'Create' button, the virtual or
		  physical machines described in the profile will be booted
		  on <%= clustername %>'s hardware
		</p>
	      <% } %>
	      <div class='form-group format-me'>
		<input name="username"
		       id='input_username'
		       value='<%- formfields.username %>'
		       class="form-control"
		       data-key="username"
		       data-label="Username"
		       placeholder='Pick a user name'
		       autofocus
		       type='text'>
		<label class='control-label control-error hidden'
		       for='input_username'></label>
	      </div>
	      <div class='form-group format-me'>
		<input name="email"
		       id='input_email'
		       value="<%- formfields.email %>"
		       class="form-control"
		       data-key="email"
		       data-label="Email"
		       placeholder='Your email address'
		       type='text'>
		<label class='control-label control-error hidden'
		       for='input_email'></label>
	      </div>
	      <%
	      var title_text  = "";
	      var expand_text = "";
	      if (formfields.sshkey == "") {
		title_text = "<span class='text-warning'>" +
		      "No SSH key, browser shell only!<span>";
		expand_text = "Add Key";
	      }
	      else {
		title_text  = "<span class='text-info'>Your SSH key</span>";
		expand_text = "Update";
	      }
	      %>
	      <div class='form-group row' style='margin-bottom: 0px;'>
		<div class='col-md-12'>
		  <div class='panel panel-default'>
		    <div class='panel-heading'><%= title_text %>
		      <a class='pull-right'
			 data-toggle='collapse' href='#mysshkey'>
			<%- expand_text %>
		      </a>
		    </div>
		    <div id='mysshkey' class='panel-collapse collapse'>
		      <div class='panel-body'>
			<div class='form-group format-me'>
			  <span class='help-block'>
			    Upload a file or paste it in the
			    text box. This will allow you to
			    login using your favorite ssh
			    client. Without a SSH key, you will
			    be limited to using a shell window
			    in your browser. If you already see
			    a key here, you can change it and
			    we will remember your new key for
			    next time.  Not sure how to
			    generate your SSH key?
			    See <a href='https://help.github.com/articles/generating-ssh-keys'>this tutorial.</a>
			  </span>
			  <input type='file'
				 name='keyfile'
				 id="input_keyfile"
				 class="form-control"
				 data-key="keyfile"
				 data-label="Keyfile">
			  <label class='control-label control-error hidden'
				 for='input_keyfile'></label>
			</div>
			<div class='form-group format-me'>
			  <textarea name="sshkey"
				    id='input_sshkey'
				    placeholder='Paste in your ssh public key.'
				    class='form-control'
				    data-key='sshkey'
				    data-label='SSH key'
				    rows=4
				    cols=45><%- formfields.sshkey %></textarea>
			  <label class='control-label control-error hidden'
				 for='input_sshkey'></label>
			</div>
		      </div>
		      <div class='clearfix'></div>
		    </div>
		  </div>
		</div>
	      </div>
	    <% } %>
	    <% if (registered || !profilename) { %>
	      <div class='form-group row' style='margin-bottom: 0px;'>
		<div class='col-md-12'>
		  <div class='panel panel-default'>
		    <div class='panel-heading'>
		      <span class='panel-title'>
			<strong>Selected Profile:</strong> 
			<span id='selected_profile_text'></span>
		      </span>
		    </div>
		    <div class='panel-body'>
		      <div id='selected_profile_description'></div>
		    </div>
		    <div class='panel-footer'>
		      <% if (cancopy && !fromrepo) { %>
			<button class='btn btn-default btn-sm pull-left' 
				type='button' id='profile_copy_button'
				style='margin-right: 10px;'
				data-toggle='popover'
				data-delay='{hide:1500, show:500}'
				data-html='true'
				data-content='When you copy a profile you are
				  creating a new profile that uses the same
				  source code and metadata (description,
				  instructions) as the original profile, but
				  without creating a new disk image. Instead,
				  the new profile uses whatever images the
				  original profile uses.'>
			  Copy Profile
			</button>
		      <% } %>
		      <button class='btn btn-default btn-sm pull-left'
			      type='button' id='profile_show_button'>
			Show Profile
		      </button>
		      <!-- Profile selection box -->
		      <% if (showpicker) { %>
			<button id='change-profile'
				class='btn btn-primary btn-sm pull-right' 
				type='button' name='profile_button'>
			  Change Profile
			</button>
		      <% } %>
		      <div class='clearfix'></div>
		    </div>
		  </div>
		</div>
	      </div>
	    <% } %>
	  </div>
	</div>
      </form>
    </div>
    <!-- Place holder for parameterized profile step.  -->
    <h3>Parameterize</h3>
    <div class='col-lg-8  col-lg-offset-2
		col-md-8  col-md-offset-2
		col-sm-10 col-sm-offset-1
		col-xs-12 col-xs-offset-0'>
      <div id="pp-container"></div>
    </div>

    <!-- Last step -->
    <h3>Finalize</h3>
    <div class='col-lg-8  col-lg-offset-2
		col-md-8  col-md-offset-2
		col-sm-10 col-sm-offset-1
		col-xs-12 col-xs-offset-0'>
      <!-- Each step needs its own form cause we might put another
	   form into step2 for a parameterized profile, and cannot nest
	   forms -->
      <form id='step2-form' role='form' class="step-forms"
	    method='post' action='instantiate.php'>
	<!-- JS code sets this after selection change. -->
	<input id='selected_profile'
	       type='hidden'
	       name='profile'>
	<!-- JS code sets this if all the nodes are bound. -->
	<input id='fully_bound'
	       type='hidden'
	       name='fully_bound' value="0">
	<div id='finalize_container'
	     class='col-lg-8 col-md-8 col-sm-8 col-xs-12'>
	  <div class='panel panel-default' style="margin-bottom: 5px">
	    <div class='panel-body'
		 style="padding-top: 5px; padding-bottom: 5px;">
	      <span class="pull-left">
		<span style="font-weight: bolder;">Profile:</span>
		<span id='finalize_profile_name'></span>
	      </span>
	      <span class="pull-right">
		<button class='btn btn-primary btn-xs hidden'
			type='button'
			id="save_paramset_button"
			data-toggle='popover'
			data-delay='{"hide":100, "show":300}'
			data-content='Save the parameters used to create this
				      experiment, so you can quickly apply them
				      when starting a new experiment using this
				      profile. Click for more information.'>
		  Save Parameters</button>
		<button class='btn btn-info btn-xs'
			type='button'
			id="show_xml_modal_button">
		  Source</button>
	      </span>
	    </div>
	  </div>
	  <% if (!registered) { %>
	    <!-- Show non-specific errors here. -->
	    <div style='margin-bottom: 10px;'>
	      <font color=red>
		<center><span id="general_error"></span></center>
	      </font>
	    </div>
	  <% } else { %>
	    <div class='panel panel-default'>
	      <div class='panel-heading'>
		<span style='text-align: center;'>
		  Please review the selections below and then click Next.</span>
	      </div>
	      <div class='panel-body'>
		<!-- Show non-specific errors here. -->
		<div style='margin-bottom: 10px;'>
		  <font color=red>
		    <center><span id="general_error"></span></center>
		  </font>
		</div>
		<div id='finalize_options'>
		  <!-- Optional experiment name -->
		  <div id='name_selector'
		       class='form-horizontal experiment_option'>               
		    <div class='form-group format-me'>
		      <label class='col-sm-4 control-label'
			     style='text-align: right;'>Name:</label>
		      <div class='col-sm-6'
			   data-toggle='popover'
			   data-delay='{hide:1500, show:500}'
			   data-html='true'
			   data-content='Provide a unique name to
			   identify your new experiment. If you are in 
			   the habit of starting more than one
			   experiment at a time, this is really handy
			   when trying to tell one experiment from
			   another, or when referring to
			   an experiment when asking for help.'>
			<input id='experiment_name'
			       placeholder='Optional'
			       class='form-control'
			       data-key='name'
			       name='name'
			       value='<%= formfields.name %>'>
			<label class='control-label control-error hidden'
			       for='experiment_name'></label>
		      </div>
		    </div>
		  </div>
		  <% if (projects && Object.keys(projects).length) { %>
		    <% if (Object.keys(projects).length == 1) { %>
		      <!-- We need this to look like the selector below,
			   for the JS code. -->
		      <div class='hidden' id='project_selector'>
			<input id='profile_pid' type='hidden'
			       name='pid'
			       value='<%- formfields.pid %>'>
		      </div>
		    <% } else { %>
		      <div class='form-horizontal experiment_option'
			   id='project_selector'>
			<div class='form-group format-me'>
			  <label class='col-sm-4 control-label'
				 style='text-align: right;'>Project:</label>
			  <div class='col-sm-6'>
			    <select name="pid"
				    data-key='pid'
				    id='profile_pid'
				    class='form-control'>
			      <% _.each(projects, function(gids, name) { %>
				<option 
				    <% if (formfields.pid == name) { %>
				    selected
				    <% } %>
				    value='<%- name %>'><%- name %>
				</option>
			      <% }); %>
			    </select>
			    <label class='control-label control-error hidden'
				   for='profile_pid'></label>
			  </div>
			</div>
		      </div>
		    <% } %>
		    <div class='form-horizontal experiment_option hidden'
			 id='group_selector'>
		      <div class='form-group format-me'>
			<label class='col-sm-4 control-label'
			       style='text-align: right;'>Group:</label>
			<div class='col-sm-6'>
			  <select name='gid'
				  data-key='gid'
				  id='profile_gid'
				  class='form-control'></select>
			  <label class='control-label control-error hidden'
				 for='profile_gid'></label>
			</div>
		      </div>
		    </div>
		  <% } %>
		  <% if (clusterselect) { %>
		    <div id='aggregate_selector'>
		      <!-- The JS code fills this in -->
		      <div id='cluster_selector' class='hidden'></div>
		      <div id='reservation_warning' class='hidden col-sm-12'>
			<label id='reservation_text' class='alert-warning col-sm-10 col-sm-offset-1'>There is an upcoming reservation on this cluster that may impact your ability to reserve or extend resources. This reservation is from <span class='reservation_start'>start</span> until <span class='reservation_end'>end</span>.</label> 
		      </div>
		      <div id='reservation_confirmation'
			   class='hidden col-sm-12'>
			<label id='reservation_text'
			       class='alert-success col-sm-10 col-sm-offset-1'>
			</label> 
		      </div>
		      <div id='reservation_future' class='hidden col-sm-12'>
			<label id='reservation_text' class='alert-warning col-sm-10 col-sm-offset-1'>Project <span class="reservation_project"></span> has a reservation on this cluster beginning <span class='reservation_start'>start</span>.</label> 
		      </div>
		    </div>
		  <% } else { %>
		    <div id="nocluster-selector">
	              <div class='col-sm-6 col-sm-offset-4
				  alert alert-warning hidden'
			   id='where-deprecated'
			   style='margin-top: 5px; margin-bottom: 5px'></div>
		    </div>
		  <% } %>
		  <% if (1) { %>
		    <div style="clear: both">
		    <h5>
		      <a href="#advanced_options_dropdown" data-toggle="collapse">
			<span class="glyphicon glyphicon-plus-sign pull-left" 
			      style="font-weight: bold;"></span>
			<span style="font-weight: bold; margin-left: 12px">Advanced Options</span>
		      </a>
		    </h5>
		    </div>
		    <div id="advanced_options_dropdown"
			 class="panel-collapse collapse">
		      <% if (0) { %>
		      <div class='form-horizontal experiment_option'>
			<div class='form-group format-me'>
			  <label class='col-sm-4 control-label'
				 style='text-align: right;'>Experiment Duration:</label>
			  <div class="col-sm-6"
			       data-toggle='popover'
			       data-delay='{hide:1500, show:500}'
			       data-html='true'
			       data-content="Sets the intial amount of time that the 
			       experiment will run. Limit: <%- maxduration %> hours. If more time is needed, the duration can be extended after the
			       experiment has been created.">
			    <input id='experiment_duration'
				   class='form-control'
				   data-key='duration'
				   name='duration'
				   value='<%- maxduration %>'>
			    <label style='position: absolute;
					  top: 6px;
					  right: 22px;
					  font-weight: normal;
					  color: #aaa'>
			      hours
			    </label>
			    <label class='control-label control-error hidden'
				   for='duration'></label>
			  </div>
			</div>
		      </div>
		      <% } %>
		      <div class='form-horizontal experiment_option'>
			<div class='form-group format-me'>
			  <div class="row">
			    <label class='col-sm-4 control-label'
				   style='text-align: right;'>Ignore Failures:</label>
			    <div class='col-sm-2'>
			      <input id='failure_okay' type="checkbox"
				     value="checked"
				     class=''
				     data-key='failure_okay'
				     name='failure_okay'
				     <%= formfields.failure_okay %>>
			    </div>
			  </div>
			  <label class='control-label control-error hidden'
				 for='failure_okay'></label>
			</div>
		      </div>
		    </div>
		  <% } %>
		</div>
		<div id="cluster_status_link"><center>
		  <a target="_blank" href="resinfo.php">
		    Check Resource Availability</a></center>
		</div>
	      </div>
	    </div>
	  <% } %>
	</div>
	<div id='inline_container' style="min-height: 150px;"
	     class='col-lg-4 col-md-4 col-sm-4 col-xs-12'>
	  <a id='inline_overlay' href='#'>
	    <span class='glyphicon glyphicon-fullscreen'
		  aria-hidden='true'></span>
	  </a> 
	  <div id='inline_jacks' style="min-height: 150px;"></div>
	</div>
	<!-- This is for a PP rspec or a repo-based profile -->
	<textarea name='rspec'
		  id='rspec_textarea'
		  class='form-control hidden'
		  type='textarea'></textarea>
	<textarea name='script'
		  id='script_textarea'
		  class='form-control hidden'
		  type='textarea'></textarea>
	<!-- JS code sets these for repo based profiles -->
	<input id='reporef' type='hidden' name='reporef'>
	<input id='repohash' type='hidden' name='repohash'>
	<input id='paramdefs' type='hidden' name='paramdefs'>
      </form>
    </div>
    <!-- Last step -->
    <h3>Schedule</h3>
    <div>
      <div id="step3-div">
	<form id='step3-form' role='form' class="step-forms">
	  <input id="start" name="start" type="hidden">
	  <input id="end" name="end" type="hidden">
	  <div class='col-lg-8  col-lg-offset-2
 		      col-md-8  col-md-offset-2
		      col-sm-10 col-sm-offset-1
		      col-xs-12 col-xs-offset-0'>
	    <div class='panel panel-default'>
	      <div class='panel-heading schedule-experiment'>
		Please select when you would like to start this experiment
		and then click Finish.
	      </div>
	      <div class='panel-body'>
		<div class="reserve-resources" style="font-size: 16px;">
		  <p>
		    You have requested radio spectrum in your
		    profile. Have you reserved the resources you need
		    to run this experiment? You will not be able to
		    start this experiment until you have created a
		    reservation for the resources you need, and that
		    reservation has been approved.</p>
		  <p>
		    If you have a reservation then you can
		    proceed, although you want to be sure to schedule
		    the start of this experiment to coincide with the
		    start of your reservation(s). Otherwise, please
		    click on <em>Create New Resource Reservation</em> to
		    create a new reservation.
		  </p>
		  <p>
		    You may also set the termination time of your
		    experiment to coincide with the end of your
		    reservation(s), so that you do not have to remember
		    to extend your experiment.
		  </p>
		</div>
		<center>
		  <div style="margin-top: 0px;">
		    Start on date/time (<b>optional</b>)
		    <a href='#' class='btn btn-xs' id="start-hour-help"
		       style="padding-left: 0px; margin-bottom: 4px;"
		       data-toggle='popover'
		       data-html='true'
		       data-delay='{"hide":1000}'
		       data-content='Times are in your local timezone.
			     Start day/time is <b>optional</b>;
			     your experiment
			     will start immediately if you leave this empty.
			     A typical use for this option, is to schedule 
			     your experiment to start shortly after a resource
			     reservation starts. See the <a target=_blank
			     href=<%- window.MANUAL %>/reservations.html>
			     manual</a> for more info on reservations.'>
			<span class='glyphicon glyphicon-question-sign'></span>
		      </a>
		  </div>
		</center>
		<div class="row"
		     style="margin-top: 10px;">
		  <div class="col-xs-4 col-xs-offset-2 format-me">
		    <input name="start_day"
			   style='position: relative;'
			   id='start_day'
			   value="<%- formfields.start %>"
			   class="form-control"
			   placeholder="MM/DD/YYYY"
			   data-key="start_day"		 
			   type="text">
		    <label class='control-label control-error hidden'
			   for='start_hour'></label>
		  </div>
		  <div class="col-xs-4 format-me">
		    <select name="start_hour"
			    id='start_hour'
			    value=""
			    class="form-control"
			    data-key="start_hour"
			    type="text">
		      <option value="">Time</option>
		      <option value="0">12:00 AM</option>
		      <option value="1">1:00 AM</option>
		      <option value="2">2:00 AM</option>
		      <option value="3">3:00 AM</option>
		      <option value="4">4:00 AM</option>
		      <option value="5">5:00 AM</option>
		      <option value="6">6:00 AM</option>
		      <option value="7">7:00 AM</option>
		      <option value="8">8:00 AM</option>
		      <option value="9">9:00 AM</option>
		      <option value="10">10:00 AM</option>
		      <option value="11">11:00 AM</option>
		      <option value="12">12:00 PM</option>
		      <option value="13">1:00 PM</option>
		      <option value="14">2:00 PM</option>
		      <option value="15">3:00 PM</option>
		      <option value="16">4:00 PM</option>
		      <option value="17">5:00 PM</option>
		      <option value="18">6:00 PM</option>
		      <option value="19">7:00 PM</option>
		      <option value="20">8:00 PM</option>
		      <option value="21">9:00 PM</option>
		      <option value="22">10:00 PM</option>
		      <option value="23">11:00 PM</option>
		    </select>
		    <label class='control-label control-error hidden'
			   for='start_day'></label>
		  </div>
		</div>
		<div class="schedule-experiment">
		  <center style="margin-top: 25px;">
		    Experiment Duration
		  </center>
		  <div class="row" style="margin-top: 10px;">
		    <div class="col-xs-3 format-me" style="margin-left: 38%">
		      <input id='experiment_duration'
			     class='form-control'
			     data-key='duration'
			     name='duration'
			     value='<%- maxduration %>'>
		      <label style='position: absolute;
				    top: 6px;
				    right: 22px;
				    font-weight: normal;
				    color: #aaa'>hours</label>
		      <label class='control-label control-error hidden'
			     for='duration'></label>
		    </div>
		    <div class="col-xs-1" style="padding-left: 0px;">
		      <a href='#' class='btn btn-xs' id="start-hour-help"
			 style="padding-left: 0px;"
			 data-toggle='popover'
			 data-html='true'
			 data-delay='{"hide":500}'
			 data-content='Sets the intial amount of time that the 
				experiment will run. Limit: <%- maxduration %>
				hours. If more time is needed, the duration can
				be extended after the experiment has been 
				created. Note that when resources are in short
				supply you might need to supply a smaller
				duration to avoid reservation system resource  
				errors, but typically you would leave the 
				default value as is.'>
			<span class='glyphicon glyphicon-question-sign'></span>
		      </a>
		    </div>
		  </div>
		</div>
		<div class="reserve-resources hidden">
		  <center style="margin-top: 10px;">
		    End on date/time (<b>optional</b>)
		    <a href='#' class='btn btn-xs' id="end-hour-help"
		       style="padding-left: 0px; margin-bottom: 4px"
		       data-toggle='popover'
		       data-html='true'
		       data-delay='{"hide":500}'
		       data-content='Times are in your local timezone.
				     End day/time is <b>optional</b>;
				     your experiment
				     will terminate automatically
				     <%- maxduration %> hours after it starts.'>
		      <span class='glyphicon glyphicon-question-sign'></span>
		    </a>
		  </center>
		  <div class="row" style="margin-top: 10px;">
		    <div class="col-xs-4 col-xs-offset-2 format-me">
		      <input name="end_day"
			     style='position: relative;'
			     id='end_day'
			     data-key="end_day"
			     value="<%- formfields.start %>"
			     class="form-control"
			     placeholder="MM/DD/YYYY"
			     type="text">
		      <label class='control-label control-error hidden'
			     for='end_day'></label>
		    </div>
		    <div class="col-xs-4 format-me">
		      <select name="end_hour"
			      id='end_hour'
			      data-key="end_hour"
			      value=""
			      class="form-control"
			      type="text">
			<option value="">Time</option>
			<option value="0">12:00 AM</option>
			<option value="1">1:00 AM</option>
			<option value="2">2:00 AM</option>
			<option value="3">3:00 AM</option>
			<option value="4">4:00 AM</option>
			<option value="5">5:00 AM</option>
			<option value="6">6:00 AM</option>
			<option value="7">7:00 AM</option>
			<option value="8">8:00 AM</option>
			<option value="9">9:00 AM</option>
			<option value="10">10:00 AM</option>
			<option value="11">11:00 AM</option>
			<option value="12">12:00 PM</option>
			<option value="13">1:00 PM</option>
			<option value="14">2:00 PM</option>
			<option value="15">3:00 PM</option>
			<option value="16">4:00 PM</option>
			<option value="17">5:00 PM</option>
			<option value="18">6:00 PM</option>
			<option value="19">7:00 PM</option>
			<option value="20">8:00 PM</option>
			<option value="21">9:00 PM</option>
			<option value="22">10:00 PM</option>
			<option value="23">11:00 PM</option>
		      </select>
		      <label class='control-label control-error hidden'
			     for='end_hour'></label>
		    </div>
		  </div>
		</div>
		<div id="groups-div" class="hidden"
		     style="margin-top: 10px;">
		  <div style="font-size: 16px;">
		    <p>
		      These are the current resource reservations in
		      your project.  If one of these reservations has all
		      of the resources this experiment needs, click on the
		      checkbox to copy the start and end times into the
		      inputs above. Or, click on the button below to
		      create a brand new resource reservation. 
		    </p>
		  </div>
		  <div id="groups" class="align-center"></div>
		</div>
		<center class="reserve-resources"
			style="margin-top: 10px;">
		  <button type="button"
			  class='btn btn-primary btn-sm
				 reserve-resources-button'>
		    Create New Resource Reservation</button>
		</center>
	      </div>
	    </div>
	  </div>
	  <div class='col-xs-12 resgroup-div hidden'
	       style="padding-left: 0px; padding-right: 0px;">
	    <div class='panel panel-default'>
	      <div class='panel-heading'>
		<button type="button"
			class='btn btn-danger btn-sm pull-right'
			style="margin-top: -4px"
			id="cancel-reserve-resources-button">
		  Cancel</button>
		Please create a reservation for the resources used by this
		experiment.
	      </div>
	      <div class='panel-body'
		   style="padding-left: 0px; padding-right: 0px;">
	      </div>
	    </div>
	  </div>
	</form>
      </div>
    </div>
  </div>
</div>
<!-- This is the user verify modal -->
<div id='verify_modal' class='modal fade'
     data-keyboard="false" data-backdrop="static">
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
	<h3>Important</h3>
      </div>
      <div class='modal-body'>
	<p>Check your email for a verification code, and
	  enter it here:</p>
	<div class='form-group'>
	  <input name='verify' class='form-control'
		 id="verification_token"
		 placeholder='Verification code'
		 autofocus type='text' />
	  <label class='control-label control-error hidden'
		 id="verification_token_error"
		 for='verification_token'></label>
	</div>
	<div class='form-group'>
	  <button class='btn btn-primary form-control'
		  id='verify_modal_submit'
		  type='submit'>
	    Continue</button>
	</div>
      </div>
    </div>
  </div>
</div>
<!-- This is the topology view modal -->
<div id='quickvm_topomodal' class='modal fade'>
  <div class='modal-dialog'  id='showtopo_dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
	<button type='button' class='close' data-dismiss='modal'
		aria-hidden='true'>
	  &times;</button>
	<h3>Select a Profile</h3>
      </div>
      <div class='modal-body'>
	<!-- This topo diagram goes inside this div -->
	<div class='row' id='showtopo_container'>
	  <div class='form-group col-md-3 col-sm-3 col-xs-3'>
	    <input type='text' class='form-control'
		   placeholder='Search'
		   id='profile_picker_search'>
	    <ul class='list-group' id='profile_name'
		name='profile'>
		<span id='title_recently_used'>
		  <% if (!registered || showpopular) { %>Popular<% }
		     else { %>Recent<% } %>
		  <span class='category_collapsable expanded'></span>
		</span>
		<ul class='list-category' id='recently_used'>
		<% for (var i = 0; i < recent.length; i++) { 
		  var key = recent[i][0]; var value = recent[i][1]; %>
		  <li class='list-group-item profile-item clearfix'
		      value='<%- key %>' name='<%- value.name %>'><%- value.name %>
		    <div class="project_info pull-right"><%- value.project %></div>
		  </li>
		<% }; %>
		</ul>

	      <% var hidefav = (registered && !$.isEmptyObject(favorites)) ? '' : 'hidden';%>
		<span id='title_favorites' class='<%- hidefav %>'>
		  Favorites
		  <span class='category_collapsable expanded'></span>
		</span>
		<ul class='list-category' id='favorites'>
		<% _.each(favorites, function(value, key) {  %>
		  <li class='list-group-item profile-item clearfix'
		      value='<%- key %>' name='<%- value.name %>'><%- value.name %>
		    <div class="project_info pull-right"><%- value.project %></div>
		  </li>
		<% }); %>
		</ul>   

		<% var hidemy = (registered && !$.isEmptyObject(myprofiles)) ? '' : 'hidden';%>
		<span id='title_myprofiles' class='<%- hidemy %>'>
		  My Profiles
		  <span class='category_collapsable expanded'></span>
		</span>
		<ul class='list-category' id='myprofiles'>
		<% _.each(myprofiles, function(value, key) {  %>
		  <li class='list-group-item profile-item clearfix'
		      value='<%- key %>' name='<%- value.name %>'><%- value.name %>
		    <div class="project_info pull-right"><%- value.project %></div>
		  </li>
		<% }); %>
		</ul>

	      <% _.each(projprofiles, function(value, key) { %>
		<span id='title_<%- key %>_profiles'>
		  <%- key %>
		  <span class='category_collapsable expanded'></span>
		</span>
		<ul class='list-category' id='<%- key %>_profiles'>
		<% _.each(value, function(v,k) { %>
		  <li class='list-group-item profile-item clearfix'
		    value='<%- k %>' name='<%- v.name %>'><%- v.name %> 
		  </li>
		<% }); %>
		</ul>
	      <%}); %>

		<span id='title_default_profiles'>
		  Default Profiles
		  <span class='category_collapsable expanded'></span>
		</span>
		<ul class='list-category' id='default_profiles'>
	      <% _.each(systemprofiles, function(value, key) { %>
		<li class='list-group-item profile-item clearfix'
		    value='<%- key %>' name='<%- value.name %>'><%- value.name %>
		</li>
	      <% }); %>
		</ul>

		<span id='title_other_profiles'>
		  Other Profiles
		  <span class='category_collapsable expanded'></span>
		</span>
		<ul class='list-category' id='other_profiles'>
	      <% _.each(otherprofiles, function(value, key) { %>
		<li class='list-group-item profile-item clearfix'
		    value='<%- key %>' name='<%- value.name %>'><%- value.name %>
		    <div class="project_info pull-right"><%- value.project %></div>
		</li>
	      <% }); %>
		</ul>
	    </ul>
	  </div> 
	  <div class='col-md-9 col-sm-9 col-xs-9'>
	    <div class='panel-body'>
	      <span id='showtopo_title'></span>
	      <div id='showtopo_details'>
		  <div class='clearfix'>
		      <div class='col-md-3'>Created By:</div>
		      <div id='showtopo_author' class='col-md-9'></div>
		  </div>
		  <div class='clearfix'>
		      <div class='col-md-3'>Project:</div>
		      <div id='showtopo_project' class='col-md-9'></div>
		  </div>
		  <div class='clearfix'>
		      <div class='col-md-3'>Latest Version:</div>
		      <div id='showtopo_version' class='col-md-9'></div>
		  </div>
		  <div class='clearfix hidden showtopo_repoinfo'>
		      <div class='col-md-3'>Repo Based?:</div>
		      <div id='showtopo_repobased' class='col-md-9'>Yes</div>
		  </div>
		  <div class='clearfix hidden showtopo_repoinfo'>
		      <div class='col-md-3'>Repo Hash:</div>
		      <div id='showtopo_repohash' class='col-md-9'></div>
		  </div>
		  <div class='clearfix'>
		      <div class='col-md-3'>Last Updated:</div>
		      <div id='showtopo_last_updated' class='col-md-9'></div>
		  </div>
		  <div class='clearfix'>
		      <div class='col-md-3'>Description:</div>
		      <div id='showtopo_description' class='col-md-9'></div>
		  </div>
	      </div>
	      <div id='showtopo_div' class='jacks'></div>
	    </div>
	  </div>
	</div>
	<div id='showtopo_buttons' class='pull-right'>
	  <button id='showtopo_select'
		  class='btn btn-primary btn-sm'
		  type='submit' name='select'>
	    Select Profile</button>
	  <button type='button' class='btn btn-default btn-sm'
		  id='showtopo_cancel'		  
		  data-dismiss='modal' aria-hidden='true'>
	    Cancel</button>
	</div>
      </div>
    </div>
  </div>
</div>
<!-- Graph Help -->
<div id='resgraph-help-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <button type='button' class='close' data-dismiss='modal'
                aria-hidden='true'>&times;</button>
	<br>
	<p>
	  The graph tells you how many of each node type are available
	  for use in an experiment, at a specific time in the
	  future. Note that nodes available immediately might not be
	  available later, although in general as you move further out
	  in time, more nodes are available.  Here are some helpful
	  features of the graphs:<ul>
	  <li> Click on a node type label to turn off that type's
	    line. This will rescale the other lines, sometimes
	    making it easier to see those other lines.</li>
	  <li> Hover over and move around the graph to show a
	    tooltip that will provide the date and time, and the free
	    count for all of the node types at the time stamp you are
	    hovering over.</li>
	  <li> To reserve nodes for an experiment, please visit the
	    <a href="reserve.php">reservation</a> page.
	  </ul>
	</p>
      </div>
    </div>
  </div>
</div>
<!-- licenses -->
<div id='request-licenses-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
	<div>
	  <b>This profile uses resources that require additional permission
	    and/or license agreements.</b> If you wish to request access to the
	  following resources, click on the request button below.
	</div>
	<div style="margin-top: 10px;">
	  <dl>
	  </dl>
	</div>
	<center>
	  <button id='request-license-button'
		  class='btn btn-primary btn-sm'>
	    Request Access</button>
	  <button type='button' class='btn btn-default btn-sm'
		  data-dismiss='modal'>
	    Cancel</button>
	</center>
      </div>
    </div>
  </div>
</div>
<div id='submitted-licenses-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <button type='button' class='close' data-dismiss='modal'
                aria-hidden='true'>&times;</button>
	<br>
	Your request has been submitted. Please check your email for
	confirmation. You will receive additional email from Portal
	Operations when you can proceed. <b>There is no need to repeat
	  this request.</b>
      </div>
    </div>
  </div>
</div>
<div id='gotspectrum-modal' class='modal fade'
     data-keyboard='false' data-backdrop='static'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
	<center><h3>You need to reserve your resources!</h3></center>
      </div>
      <div class='modal-body'>
	<div style="font-size: 18px;">
	  <p>
	    You have requested radio spectrum in your profile. Have you
	    reserved the resources you need to run this experiment? You
	    will not be able to start this experiment until you have created
	    a reservation for the resources you need, and that reservation
	    has been approved.
	  </p>
	  <p>
	    If you have an approved reservation then you can proceed, although
	    you want to be sure to schedule the start of this experiment to
	    coincide with the start of your reservation(s). Otherwise, please
	    click on <em>Create New Resource Reservation</em> to create
	    a new reservation.
	  </p>
	  <center class="control-buttons">
	    <button id='reserve-resources-button'
		    class='btn btn-primary btn-sm'>
	      Reserve Resources</button>
	    <button type='button' class='btn btn-default btn-sm'
		    data-dismiss='modal'>
	      Dismiss</button>
	  </center>
	</div>
      </div>
    </div>
  </div>
</div>
<div id='resgroup-done-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
	<button type='button' class='close' data-dismiss='modal'
		aria-hidden='true'>
	  &times;</button>
	<center><h3>Reservation Submitted!</h3></center>
      </div>
      <div class='modal-body'>
	<div style="font-size: 18px;">
	  <p>
	    Your reservation request has been submitted. Since this
	    reservation must be approved before your experiment can be
	    started, we have set the scheduled start time for your
	    experiment to coincide with the start of the reservation.
	  </p>
	  <center>
	    <button type='button' class='btn btn-default btn-sm'
		    data-dismiss='modal'>
	      Dismiss</button>
	  </center>
	</div>
      </div>
    </div>
  </div>
</div>
<div id='waitwait_div'></div>
<div id='rspecview_div'></div>
<div id='ppviewmodal_div'></div>
<div id='ppmodal_div'></div>
<div id='instantiate_div'></div>
<div id='editmodal_div'></div>
<div id='save_paramset_div'></div>
