<style>
.scrollable-panel {
	max-height:350px;
	overflow-y:scroll;
}
.fixedsize-panel {
	max-height:500px;
	height:500px;
}
.smalldiv {
	max-height:400px;
	height:400px;
}
.history-tstamp {
	min-width: 100px;
	width:100px;
	max-width: 100px;
}
pre {
	white-space: pre-wrap;
}
.panel-body-nopad {
     padding: 5px;
 }
.panel-heading-nopad {
    padding: 5px;
 }
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
    padding: 3px;
}
</style>
<div class='row'>
  <div class='col-lg-8  col-lg-offset-2
       col-md-8  col-md-offset-2
       col-sm-10 col-sm-offset-1
       col-xs-12 col-xs-offset-0'>
    <div class='panel panel-default' id='status_panel'>
      <div class="panel-heading">
	<h5>
	  <a data-toggle="collapse" id="profile_status_toggle"
	     href="#profile_status_collapse">
	    <span id='status_message'></span>
	    <span class="glyphicon glyphicon-chevron-right pull-left"
	          style="margin-right: 5px;"></span>
	  </a>
	</h5>
      </div>
      <div id="profile_status_collapse" data-chevron="profile_status_toggle"
	   class="panel-collapse collapse">
	<div class='panel-body'>
          <span id='quickvm_status_hidden' class="hidden"></span>
	  <table class='table table-condensed nospaceafter border-none'>
	  <!-- The spinner will start out invisible -->
	  <tr>
	    <td colspan=2 class='border-none'>
	      <div id='status_progress_outerdiv' class='hidden'>
		<div id='status_progress_div'
                     class='progress progress-striped active nospaceafter'>
		  <div class='progress-bar' role='progressbar'
                       id='status_progress_bar'
                       style='width: 33%;'></div>
		</div>
	      </div>
	    </td>
	  </tr>
	  <tr>
	    <td class='border-none'>Name:</td>
	    <td class='border-none'><%- expinfo.name %></td>
	  </tr>
	  <tr>
	    <td class='border-none'>State:</td>
	    <td class='border-none'>
              <span id='quickvm_status'>
		<font></font>
              </span>
	      <span class="hidden" id="ignore-failure"
		    style='margin-left: 10px;'>
		(<a id='ignore-failure-button' href="#"
		    data-target='#ignore-failure-modal'
		    data-toggle='modal'>Ignore this failure</a>?)</span>
	      <span class="hidden" id="explain-quarantine"
		    style='margin-left: 10px;'>
		(<a id='explain-quarantine-button' href="#"
		    data-target='#explain-quarantine-modal'
		    data-toggle='modal'>What does this mean</a>?)</span>
	    </td>
	  </tr>
	  <% if (expinfo.profile_uuid) { %>
	    <tr>
	      <td class='border-none'>Profile:</td>
	      <td class='border-none'>
		<a target=_blank
		   href='show-profile.php?uuid=<%- expinfo.profile_uuid %>'>
		  <%- expinfo.profile_name %></a></td>
	    </tr>
	  <% } %>
	  <% if (expinfo.reporef) { %>
	    <tr>
	      <td class='border-none'>RefSpec:</td>
	      <td class='border-none'>
		<span><%= expinfo.reporef %></span>
		(<%= expinfo.repohash %>)
	      </td>
	    </tr>
	  <% } else if (expinfo.repohash) { %>
	    <tr>
	      <td class='border-none'>RepoHash:</td>
	      <td class='border-none'>
		<%= expinfo.repohash %>
	      </td>
	    </tr>
	  <% } %>
	  <% if (isadmin) { %>
	    <tr>
	      <td class='border-none'>Creator:</td>
	      <td class='border-none'>
		<% if (registered) { %>
		  <a href="user-dashboard.php?user=<%- expinfo.creator %>">
		    <%- expinfo.creator %></a>
		<% } else { %>
	          <a href="mailto:<%- expinfo.creator_email %>"><%- expinfo.creator_email %></a>
	        <% } %>
	      </td>
	    </tr>
	    <% if (expinfo.project) { %>
	      <tr>
		<% if (expinfo.project == expinfo.group) { %>
		  <td class='border-none'>Project:</td>
		  <td class='border-none'>
		    <a href="show-project.php?pid=<%- expinfo.project %>">
		      <%- expinfo.project %></a></td>
		<% } else { %>
		    <td class='border-none'>Group:</td>
		    <td class='border-none'>
		      <a href="show-group.php?pid=<%- expinfo.project %>&gid=<%- expinfo.group %>">
			<%- expinfo.project %>:<%- expinfo.group %></a></td>
		<% } %>
	      </tr>
	    <% } %>
	  <% } %>
	  <% if (!expinfo.started) { %>
	    <tr class="exp-created">
	      <td class='border-none'>Created:</td>
	      <td class='border-none format-date'><%- expinfo.created %></td>
	    </tr>
	  <% } %>
	  <% if (expinfo.start_at) { %>
	    <tr class="exp-scheduled">
	      <td class='border-none'>Scheduled:</td>
	      <td class='border-none format-date'><%- expinfo.start_at %></td>
	    </tr>
	  <% } %>
	  <tr class="exp-running hidden">
	    <td class='border-none'>Started:</td>
	    <td class='border-none format-date'
		id="exp-started-date"><%- expinfo.started || "" %></td>
	  </tr>
	  <tr>
	    <td class='border-none'>Expires:</td>
	    <td class='border-none'>
	      <span id='instance_expiration'>
		<span id='quickvm_expires' class='format-date'>
		  <%- expinfo.expires %></span>
		(<span id='quickvm_countdown'></span>)
	      </span>
	    </td>
	  </tr>
	  <tr id="maximum-extension" class="hidden">
	    <td class='border-none'>Extendable:</td>
	    <td class='border-none'>
	      <span id="maximum-extension-string"></span>
	      <a href='#' class='btn btn-xs'
		 data-toggle='popover'
		 data-html='true'
		 data-delay='{"hide":500}'
		 data-content="This is the maximum extension that is
			       <em>possible</em> because of future reservation
			       promises for the resources you are using. It
			       does not mean you will be granted an extension
			       till this date.">
		<span class='glyphicon glyphicon-question-sign'
		      style='margin-bottom: 4px;'></span>
	      </a>
	    </td>
	  </tr>
	  </table>
	  <div class='pull-left'>
	    <a class='btn btn-info btn-xs pull-left hidden'
               style='margin-right: 10px;'
	       id='sliverinfo_button'
               href='#'
	       target='_blank'
               type='button'>Logs</a>
	    <div id='sliverinfo_dropdown' class='hidden'>
	      <select style='margin-right: 0px;'>
		<option value='selectme'>Logs</option>
	      </select>
	      <a class='btn btn-info btn-tiny'
		 style='margin-right: 10px;'
		 href='#'
		 target='_blank'
		 type='button'>Go</a>
	    </div>
	  </div>
	  <div class='pull-left'>
	    <a class='hidden'
               style='margin-right: 10px;'
	       id='logfile_button'
               href='#'
	       target='_blank'
               type='button'>Stitcher</a>
	  </div>
	  <% if (isadmin) { %>
	    <div class='pull-left'>
	      <button class='btn btn-xs btn-danger' disabled hidden
		      style='margin-left: 10px;'
		      style='margin-right: 10px;'
		      id='warnkill-experiment-button' type=button
		      data-delay='{"show":750}'
		      data-toggle='popover'
		      data-content='Warn user or terminate/quarantine
				    experiment with cause
				    and optionally freeze the user account.'>
 		Warn/Kill</button>
	      <button class='btn btn-xs btn-danger' disabled hidden
		      style='margin-left: 10px;'
		      style='margin-right: 10px;'
		      id='release-quarantine-button' type=button
		      data-toggle='popover'
		      data-content='Release experiment from quarantine.'>
 		Release</button>
	    </div>
	  <% } %>
	  <div class='pull-right'>
	    <a href="#" target="_blank"
	       class='btn btn-xs btn-info hidden' 
	       style='margin-right: 10px;'
	       id='confirm-stuff-button' type=button
	       data-delay='{"show":250}'
	       data-toggle='popover'
	       data-content='Explore performance results from a set of
			     low-level benchmarks characterizing the
			     hardware used in this experiment.'>
 	      Performance History</a>
	    <% if (registered && !isfadmin) { %>
	      <span>
		<button class='btn btn-xs btn-success hidden' disabled
			style='margin-right: 10px;'
			id='linktest-stop-button' type=button
                        data-delay='{"show":750}'
			data-toggle='popover'
			data-content='Stop a running or wedged linktest'>
 		  Stop Linktest</button>
	      </span>
	      <button class='btn btn-xs btn-primary hidden' disabled
		      id='snapshot_button' type=button
		      data-toggle='popover'
	              data-delay='{"show":750}'
		      data-html='true'
		      data-content="Create a disk image from one of your nodes.
				    Click for more info."> 
		Create Disk Image</button>
	      <% if (window.APT_OPTIONS.cancopy_profile) { %>
		<a class='btn btn-xs btn-primary'
		   href='manage_profile.php?action=copy&uuid=<%= expinfo.profile_uuid %>'
		   id='copy_button' type=button
		   data-toggle='popover'
	           data-delay='{"show":750}'
		   data-html='true'
		   data-content="When you <em>copy</em> a profile,
			 you are creating a new profile that
			 uses the same source code and metadata (description,
			 instructions) as the original profile, but without
			 creating a new disk image. Instead, the new profile
			 uses whatever images the original profile uses."> 
		  Copy</a>
	      <% } %>
	      <button class='btn btn-primary btn-xs hidden'
		      style='margin-right: 10px;'
		      id='save_paramset_button'
		      data-toggle='popover'
		      data-delay='{"hide":100, "show":300}'
		      data-content='Save the parameters used to create this
				    experiment, so you can quickly apply them
				    when starting a new experiment using this
				    profile. Click for more information.'
		      type='button'>Save Parameters</button>
	    <% } %>
	    <button class='btn btn-xs btn-success exp-running hidden' disabled
		    id='extend_button' type=button>
              <% if (isfadmin) { %>Extension History<% } else { %>Extend<% } %>
	    </button>
	    <% if (!isfadmin) { %>
	      <button class='btn btn-xs btn-danger' disabled
		      id='terminate_button' type=button
		      data-toggle='modal' data-target='#terminate_modal'>
		Terminate</button>
	    <% } %>
	  </div>
	  <% if (isadmin) { %>
	    <div class='clearfix'></div>	  
	    <div class="exp-running hidden">
	      <div class='pull-left'
		   data-delay='{"show":750}'
		   data-toggle='popover'
		   data-content="When checked, only administrators can extend
				 this experiment. No free time is granted to
				 user at all."> 
		<label class="checkbox-inline" style='margin-right: 10px;'>
		  <input type="checkbox" id="lockout_checkbox" disabled
			 <% if (expinfo.lockout) { %>checked<% } %> >Lockout</label>
	      </div>
	    </div>
	    <div class="exp-running hidden">
	      <div class='pull-left'
		   data-delay='{"show":750}'
		   data-toggle='popover'
		   data-content="When checked, the experiment 
			       cannot be terminated by the user unless the
			       user verifies 
			       the lockdown code when clicking the Terminate
			       button. This prevents accidental termination,
			       and is automatically set whenever an experiment
			       is extended for more then two weeks.
			       Use the admin lockdown flag to fully prevent
			       termination."> 
		<label class="checkbox-inline" style='margin-right: 10px;'>
		  <input type="checkbox" id="user_lockdown_checkbox" disabled
			 <% if (expinfo.user_lockdown) { %>checked<% } %> >
		  User Lockdown</label>
	      </div>
	    </div>
	    <div class="exp-running hidden">
	      <div class='pull-left'
		   data-delay='{"show":750}'
		   data-toggle='popover'
		   data-content="When checked, the experiment 
			       cannot be terminated by the user. Only an
			       admin can do it.">
		<label class="checkbox-inline" style='margin-right: 10px;'>
		  <input type="checkbox" id="admin_lockdown_checkbox" disabled
			 <% if (expinfo.admin_lockdown) { %>checked<% } %> >
		  Admin Lockdown</label>
	      </div>
	    </div>
	    <div class="exp-running hidden">
	      <div class='pull-left'>
		<span data-toggle='popover'
		      data-delay='{"show":750}'
		      <% if (expinfo.admin_notes == "") { %>
		        data-content="Add admin notes to this experiment"
		      <% } else { %>
		        data-content="This experiment has admin notes"
		      <% } %>>
		  <a target="_blank"
		     href='adminextend.php?uuid=<%= uuid %>'>Admin Notes</a>
		</span>
	      </div>
	    </div>
	  <% } %>
	</div>
      </div>
    </div>
  </div>
</div>
<!-- Add a hidden div for errors returned by the instantiation. -->
<div class='row hidden' id='error_panel'>
  <div class='col-lg-8  col-lg-offset-2
	      col-md-8  col-md-offset-2
	      col-sm-10 col-sm-offset-1
	      col-xs-12 col-xs-offset-0'>
    <div class="panel panel-danger">
      <div class="panel-heading">
        <center><h4 class="panel-title">Error Message</h4></center>
      </div>
      <div class="panel-body"><code style="white-space: pre-wrap"
				    id="error_panel_text"></code>
      </div>
      <div class="panel-footer">
	<div class="resource-error hidden">
	  <b>More info about resource errors (not enough nodes):</b>
	  <ul>
	    <li> To see how many nodes are available right now, or
	      when nodes will be available in the future, check out
	      the <a href="resinfo.php" target="_blank">cluster status</a>
	      page.
	    </li>
	    <li> Try asking for a smaller number of nodes, or nodes of a
	      different type.
	      <% if (window.ISCLOUD) { %>
		Or try using a different cluster.
	      <% } %>
	    </li>
	    <li> Try setting the initial experiment duration to a
	      shorter amount of time. You will find this option in the
	      <em>Advanced Options</em> section of the
	      <a href="instantiate" target="_blank">Start Experiment</a>
	      page.
	    </li>
	    <li> Still cannot get enough nodes right away? Try making a
	      <a href="reserve.php" target="_blank">reservation</a>
	      for the future.
	    </li>
	  </ul>
	</div>
	Not sure how to proceed or have further questions about this
	error? Join the
        <a href='<%= errorURL %>'>users group</a> and ask a question. Be
        sure to include the error message in your question, and the name
	of your profile and experiment:
	'<%= expinfo.profile_name %>/<%= expinfo.name %>'.
      </div>
    </div>
  </div>
</div>
</div>
<!-- Add a div for the prestaging info -->
<div class='row hidden' id='prestage-panel'>
  <div class='col-lg-8  col-lg-offset-2
	      col-md-8  col-md-offset-2
	      col-sm-10 col-sm-offset-1
	      col-xs-12 col-xs-offset-0'>
    <div class="panel panel-info">
      <div class="panel-heading panel-heading-nopad">
	<h5>Prestage Progress
	  <a href='#' class='btn btn-xs info-button'>
	    <span class='glyphicon glyphicon-question-sign'
		  style='margin-bottom: 4px;'></span></a>
	</h5>
      </div>
      <div class="panel-body">
      </div>
    </div>
  </div>
</div>
<!-- Add a div for the instructions if there are instructions. The cliet
     will actually fill in the div though, since it is markdown and that
     is more easily done on the client side for now. -->
<div class='row hidden' id='instructions_panel'>
  <div class='col-lg-8  col-lg-offset-2
	      col-md-8  col-md-offset-2
	      col-sm-10 col-sm-offset-1
	      col-xs-12 col-xs-offset-0'>
    <!-- Collapsable panel -->
    <div class="panel panel-info">
      <div class="panel-heading">
	<h5>
	  <a data-toggle="collapse" id="profile_instructions_toggle"
	     href="#profile_instructions_collapse">Profile Instructions
	    <span class="glyphicon glyphicon-chevron-right pull-left"
	          style="margin-right: 5px;"></span>
	  </a>
	</h5>
      </div>
      <div id="profile_instructions_collapse"
	   data-chevron="profile_instructions_toggle"
	   class="panel-collapse collapse">
	<div class="panel-body">
	  <div id="instructions_text"></div>
	</div>
      </div>
    </div>
  </div>
</div>
<!-- The topo diagram goes inside this div, when it becomes available. -->
<div class='row'>
  <div class='col-lg-12  col-lg-offset-0
	      col-md-12  col-md-offset-0
	      col-sm-12  col-sm-offset-0
	      col-xs-12  col-xs-offset-0'>
    <div class='panel panel-default invisible' id='showtopo_container'>
      <div class='panel-body'>
	<div id='quicktabs_div'>
	  <ul id='quicktabs_ul' class='nav nav-tabs'>
	    <li class='hidden'>
              <a href='#topology' id='show_topology_tab'
		 data-toggle='tab'>Topology View</a>
            </li>
	    <li class='hidden'>
              <a href='#listview' id='show_listview_tab'
		 data-toggle='tab'>List View</a>
            </li>
	    <li class='hidden'>
              <a href='#rspec' id='show_rspec_tab'
		 data-toggle='tab'>Rspec</a>
            </li>
	    <li class='hidden'>
              <a href='#manifest' id='show_manifest_tab'
		 data-toggle='tab'>Manifest</a>
            </li>
	    <li class="hidden" id="show_idlegraphs_li">
              <a href='#Idlegraphs' id='show_idlegraphs_tab'
		 data-toggle='tab'>Graphs
		<button class='close hidden'
			style="margin-top:0px;"
			type='button' id="graphs-refresh-button">
		  <span class='glyphicon glyphicon-repeat'></span></button>
	      </a>
            </li>
	    <li class="hidden" id="show_openstack_li">
              <a href='#Openstack' id='show_openstack_tab'
		 data-toggle='tab'>Openstack Data
		<button class='close hidden'
			style="margin-top:0px;"
			type='button' id="openstack-refresh-button">
		  <span class='glyphicon glyphicon-repeat'></span></button>
	      </a>
            </li>
	    <li class="hidden" id="show_bindings_li">
              <a href='#bindings' id='show_bindings_tab'
		 data-toggle='tab'>Bindings</a>
            </li>
	  </ul>
	  <div id='quicktabs_content' class='tab-content'>
            <div class='tab-pane hidden' id='topology'>
	      <div id='showtopo_statuspage' class='jacks'></div>
              <small>Click on a node for more options. 
                Click and drag to move things around.</small>
	      <% if (registered) { %>
		<button class='btn btn-xs btn-success pull-right' disabled
			id='refresh_button' type=button
			data-toggle='popover'
			data-delay='{"hide":1000, "show":500}'
			data-content='Ask cluster for updated node status'>
		  Refresh Status</button>
		<span>
		  <button class='btn btn-xs btn-success pull-right hidden'
			  disabled
			  data-toggle='popover'
			  data-delay='{"hide":1000, "show":500}'
			  data-content='Run linktest on the topology'
			  style='margin-right: 10px;'
			  id='linktest-modal-button' type=button>
		    Run Linktest</button>
		</span>
		<% if (1) { %>
		  <span>
		    <button class='btn btn-xs btn-success pull-right'
			    disabled
			    data-toggle='popover'
			    data-delay='{"hide":1000, "show":500}'
			    data-content='Reload the topology in case it has
					  changed at the cluster'
			    style='margin-right: 10px;'
			    id='reload-topology-button' type=button>
		      Reload Topo</button>
		  </span>
		<% } %>
	      <% } %>
	    </div>
            <div class='tab-pane hidden' id='listview'>
	      <div id='showtopo_listview'>
		<table class='table table-striped table-hover table-condensed'
                       id='listview_table'>
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Node</th>
                      <th>Status</th>
                      <th>Type</th>
                      <th>Image</th>
                      <th>SSH command <small>
			(if you provided your own key)</small>
                      </th>
                      <th style='text-align: left;'>
			<div id='listview-action-menu' class='dropdown'>
			  <input type="checkbox" id="select-all">
			  <button id='action-menu-button' type='button'
				  class='btn btn-primary btn-sm dropdown-toggle'
				  data-toggle='dropdown'>
			    <span class='glyphicon glyphicon-cog'></span>
			  </button>
			  <ul class='dropdown-menu text-left' role='menu'>
			    <li><a href='#' name='reboot'>Reboot Selected</a>
			    </li>
			    <li><a href='#' name='reload'>Reload Selected</a>
			    </li>
			    <li><a href='#' name='delete'>Delete Selected</a>
			    </li>
			  </ul>
			</div>
		      </th>
		      <th style='text-align: center;'>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
		</table>
              </div>
            </div>
	    <div class='tab-pane hidden' id='manifest'>
              <div id='manifest_textarea' style='width: 100%;'></div>
	    </div>
	    <div class='tab-pane hidden' id='rspec'>
              <div id='rspec_textarea' style='width: 100%;'></div>
	    </div>
	    <div class='tab-pane hidden' id='Idlegraphs'>
	      <div class="hidden" id="nodata">
		<br>
		<center>
		  There is insufficient data to graph, please check back later.
		</center>
	      </div>
	      <div class='row'>
		<div class='panel panel-default hidden'
		     id="loadavg-panel-div">
		  <div class="panel-heading">
		    <div class="maxavg-toggles pull-right">
		      <label class="radio-inline">
			<input type="radio" name="loadav-radio"
			       checked="checked" value="max"> Max
		      </label>
		      <label class="radio-inline">
			<input type="radio" name="loadav-radio"
			       value="avg"> Avg
		      </label>
		    </div>
		    <h5>Load Average Graph</h5>
		  </div>
		  <div class='panel-body panel-body-nopad'>
		    <!-- The col setting gives us a "relative" position div -->
		    <div class='col-xs-12 col-xs-offset-0'
			 style="padding:0px;">
		      <div id="loadavg-chart"
			   class='fixedsize-panel idlegraph-div
				  with-3d-shadow with-transitions'>
			<svg></svg>
		      </div>
		    </div>
		  </div>
		</div>
	      </div>
	      <div class='row'>
		<div class='panel panel-default hidden'
		     id="ctrl-traffic-panel-div">
		  <div class="panel-heading">
		    <div class="maxavg-toggles pull-right">
		      <label class="radio-inline">
			<input type="radio" name="ctrl-radio"
			       checked="checked" value="max"> Max
		      </label>
		      <label class="radio-inline">
			<input type="radio" name="ctrl-radio"
			       value="avg"> Avg
		      </label>
		    </div>
		    <div class="txrx-toggles pull-right"
		         style="margin-right: 15px;">
		      <label class="radio-inline">
			<input type="radio" name="ctrl-radio-txrx"
			       value="rx"> RX
		      </label>
		      <label class="radio-inline">
			<input type="radio" name="ctrl-radio-txrx"
			       value="tx"> TX
		      </label>
		      <label class="radio-inline">
			<input type="radio" name="ctrl-radio-txrx"
			       checked="checked"
			       value="sum"> Sum
		      </label>
		    </div>
		    <h5>Control Traffic Graph</h5>
		  </div>
		  <div class='panel-body panel-body-nopad'>
		    <!-- The col setting gives us a "relative" position div -->
		    <div class='col-xs-12 col-xs-offset-0'
			 style="padding:0px;">
		      <div id="ctrl-traffic-chart"
			   class='fixedsize-panel idlegraph-div
				  with-3d-shadow with-transitions'>
			<svg></svg>
		      </div>
		    </div>
		  </div>
		</div>
	      </div>
	      <div class='row'>
		<div class='panel panel-default hidden'
		     id="expt-traffic-panel-div">
		  <div class="panel-heading">
		    <div class="maxavg-toggles pull-right">
		      <label class="radio-inline">
			<input type="radio" name="expt-radio"
			       checked="checked" value="max"> Max</label>
			<label class="radio-inline">
			  <input type="radio" name="expt-radio"
				 value="avg"> Avg</label>
		    </div>
		    <div class="txrx-toggles pull-right"
		         style="margin-right: 15px;">
		      <label class="radio-inline">
			<input type="radio" name="expt-radio-txrx"
			       value="rx"> RX
		      </label>
		      <label class="radio-inline">
			<input type="radio" name="expt-radio-txrx"
			       value="tx"> TX
		      </label>
		      <label class="radio-inline">
			<input type="radio" name="expt-radio-txrx"
			       checked="checked"
			       value="sum"> Sum
		      </label>
		    </div>
		    <h5>Experiment Traffic Graph</h5>
		  </div>
		  <div class='panel-body panel-body-nopad'>
		    <!-- The col setting gives us a "relative" position div -->
		    <div class='col-xs-12 col-xs-offset-0'
			 style="padding:0px;">
		      <div id="expt-traffic-chart"
			   class='fixedsize-panel idlegraph-div
				  with-3d-shadow with-transitions'>
			<svg></svg>
		      </div>
		    </div>
		  </div>
		</div>
	      </div>
	    </div>
	    <div class='tab-pane hidden' id='Openstack'>
	      <div class="hidden" id="nodata">
		<br>
		<center>
		  There is no Openstack data (yet), please check back later.
		</center>
	      </div>
	      <div id="openstack-div" class="hidden">
		<ul id='chart-tabs' class='nav nav-tabs'>
		  <li class="active">
		    <a href='#jsondata' data-toggle='tab'>Raw Data</a>
		  </li>
		  <li>
		    <a href='#activity' id="activity-tab"
		       data-toggle='tab'>Activity</a>
		  </li>
		</ul>
		<div id='chart-contents' class='tab-content'>
		  <div class='tab-pane active' id='jsondata'></div>
		  <div class='tab-pane' id='activity'>
		    <div class='smalldiv with-3d-shadow with-transitions'>
		      <svg></svg>
		    </div>
		  </div>
		  <div class='tab-pane hidden' id='template'>
		    <div class='panel panel-default cpu'>
		      <div class="panel-heading">
			<h5>CPU Utilization</h5>
		      </div>
		      <div class='panel-body panel-body-nopad'>
			<div class='smalldiv with-3d-shadow with-transitions'>
			  <svg></svg>
			</div>
		      </div>
		    </div>
		    <div class='panel panel-default netout'>
		      <div class="panel-heading">
			<h5>Outgoing Traffic</h5>
		      </div>
		      <div class='panel-body panel-body-nopad'>
			<div class='smalldiv with-3d-shadow with-transitions'>
			  <svg></svg>
			</div>
		      </div>
		    </div>
		    <div class='panel panel-default netin'>
		      <div class="panel-heading">
			<h5>Incoming Traffic</h5>
		      </div>
		      <div class='panel-body panel-body-nopad'>
			<div class='smalldiv with-3d-shadow with-transitions'>
			  <svg></svg>
			</div>
		      </div>
		    </div>
		  </div>
		</div>
	      </div>
	    </div>
	    <div class='tab-pane hidden' id='bindings'>
	      <table class='table table-striped table-hover table-condensed'
                     id='bindings_table'>
                <thead>
                  <tr>
                    <th>Parameter</th>
                    <th>Default</th>
                    <th>Actual</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
	      </table>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
<div>
  <!-- place to hang the modals for now -->
  <div id='snapshot_modal' class='modal fade'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-header'>
          <h3 class="text-center" style="margin: 0;">
	    Create a Disk Image</h3>
	</div>
	<div class='modal-body'>
	  <div class="fhide step1" data-step="1">
	    <center>
	      You are about to create a disk image from the contents of
	      the primary partition on
	      <span class="one-node text-info hidden">
		<span class="node_id"></span>.
	      </span>
	      <span class="choose-node hidden">
		<select>
		  <option value=''>Please Select a Node</option>
		</select>
	      </span>
	      <div class="text-danger hidden
			  snapshot-error choose-node-error"></div>
	    </center>
	  </div>
	  <% var imageonly = 0;
	     if (window.APT_OPTIONS.isscript ||
	         (!window.APT_OPTIONS.canclone_profile &&
	          !window.APT_OPTIONS.canupdate_profile)) { imageonly = 1; } %>
	  <div class="fhide step2" data-step="2">
	    <% if (! imageonly) { %>
	    <div id="snapshot-radios"
		 style="text-align: center; margin-top: 10px;">
	      <div id="snapshot-radio-title">
		<b>What would you like to do with this image?</b>
		<br>
	      </div>
	      <div id="snapshot-help-popover-div"></div>
	      <div style="display: inline-block; text-align: left">
		<div class="radio" id="update-profile-radio">
		  <label>
		    <input type="radio" name="whattodo"
			   id="update-profile" value="update-profile" checked>
		    Update the current profile to use it.
		    <a href='#' class='btn btn-xs snapshot-help-button'>
		      <span class='glyphicon glyphicon-question-sign'
			    data-which="update-profile"
			    style='margin-bottom: 4px;'></span>
		    </a>
		  </label>
		</div>
		<div class="radio" id="copy-profile-radio">
		  <label>
		    <input type="radio" name="whattodo"
			   id="copy-profile" value="copy-profile">
		    Make a copy of the current profile, updated to use the new
		    image. 
		    <a href='#' class='btn btn-xs snapshot-help-button'>
		      <span class='glyphicon glyphicon-question-sign'
			    data-which="copy-profile"
			    style='margin-bottom: 4px;'></span>
		    </a>
		  </label>
		</div>
		<div class="radio" id="image-only-radio">
		  <label>
		    <input type="radio" name="whattodo"
			   id="image-only" value="image-only">
		    Just create a disk image, I will decide what to do with it
		    later.
		    <a href='#' class='btn btn-xs snapshot-help-button'>
		      <span class='glyphicon glyphicon-question-sign'
			    data-which="image-only"
			    style='margin-bottom: 4px;'></span>
		    </a>
		  </label>
		</div>
	      </div>
	    </div>
	    <% } %>
	    <div id='snapshot-name-div'
		 <% if (imageonly) { %>
		 style="margin-top: 10px;"
		 <% } %>
		 class='hidden'>
	      <center class="image-only hidden">
		<b>Please tell us what name to use for your new image</b>
		<% if (imageonly) { %>
		  <a href='#' class='btn btn-xs snapshot-help-button'>
		    <span class='glyphicon glyphicon-question-sign'
			  data-which="image-only"
			  style='margin-bottom: 4px;'></span>
		  </a>
		<% } %>
	      </center>
	      <center class="copy-profile hidden">
		<b>Please tell us what name to use for your new profile</b>
	      </center>
	      <center>
		<input placeholder="alphanumeric please" type="text">
	      </center>
	      <div class="text-danger hidden snapshot-error name-error"
		   style="text-align: center;">
	      </div>
	      <div class="text-danger hidden snapshot-error inuse-error"
		   style="text-align: center;">
	      </div>
	    </div>
	  </div>
	  <center id='snapshot-description-div'
		  style="margin-top: 10px;">
	    <b>Please briefly describe your image:</b>
	    <br>
	    <textarea style="width: 85%;"
		      placeholder="Optional, but very handy when looking at a list of all your images."
		      rows=2 type='textarea'></textarea>		
	    <div class="text-danger hidden
			snapshot-error description-error"
		 style="text-align: center;">
	  </center>
	  <div id="snapshot-options"
	       style="text-align: center; margin-top: 10px;">
	    <div style="display: inline-block; text-align: left">
	      <ul class="list-unstyled">	    
	      <li id='snapshot-wholedisk-div'
		  class="hidden">
		<input type=checkbox
		       id='snapshot-wholedisk' value=yes>
		<b>Create a whole disk image?</b>
		<a href='#' class='btn btn-xs'
		   data-toggle='popover'
		   data-html='true'
		   data-delay='{"hide":500}'
		   data-content="Check this box if you need to capture more
				 then just the primary partition of your disk.
				 For example, you created a file system on
				 parition two, and want to include that in
				 your new disk image. 
				 <b><em>Do not check this box if you do not
				 need to do this or 
				 do not know what this means!</em></b>">
		  <span class='glyphicon glyphicon-question-sign'
			style='margin-bottom: 4px;'></span>
		</a></li>
	      <li id='snapshot_update_prepare_option'>
		<input type=checkbox
		       id='snapshot_update_prepare' value=yes>
		<b>Did you add any accounts or groups to your node?</b>
		<a href='#' class='btn btn-xs'
		   data-toggle='popover'
		   data-html='true'
		   data-delay='{"hide":500}'
		   data-content="Check this box if you installed any software
				 that added new
				 users or groups. For example, if you installed
				 <tt>mysql</tt>, a new <tt>mysqld</tt> user was
				 added, and you want to make sure that this
				 user account is retained in the new image.
				 If you are not sure, please
				 <em><b>ask us first</b></em> since
				 checking this box needlessly can have
				 negative side effects.">
		  <span class='glyphicon glyphicon-question-sign'
			style='margin-bottom: 4px;'></span>
		</a>
	      </li>
	      </ul>
	    </div>
	  </div>
	  <p style="padding-top: 10px;">
	    <b>WARNING:</b>
	    <em>The contents of your home directory is <b>NOT</b> saved</em>.
	    You  should install your software and data files in standard
	    locations like <tt>/usr/local</tt> or <tt>/opt</tt>. The reason
	    for this is so that dependencies on specific user home directories
	    do not become embedded in your images.
	  </p>
	  <div class="text-danger hidden snapshot-error general-error"
	       style="white-space: pre-wrap;
		      padding: 0px 50px 0px 50px;"></div>
	</div>
	<div class="pull-right" style="margin-bottom: 10px;">
          <button style='margin-right: 10px;'
                  class='btn btn-danger btn-sm' 
                  data-dismiss='modal' aria-hidden='true'>
	    Cancel</button>
          <button class='btn btn-success btn-sm'; type='button'
		  style='margin-right: 15px;'
		  id='snapshot_confirm'>
	    Continue</button>
	</div>
	<br>
	<div class="modal-footer-steps hidden">
	  <button type="button" class="btn btn-default js-btn-step pull-left"
		  data-orientation="cancel" data-dismiss="modal"></button>
	  <button type="button" class="btn btn-warning js-btn-step"
		  data-orientation="previous"></button>
	  <button type="button" class="btn btn-success js-btn-step"
		  data-orientation="next"></button>
	</div>
      </div>
    </div>
  </div>
  <div id='snapshot_modal_old' class='modal fade'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-header'>
          <center><h3>Confirm to Snapshot</h3>
	</div>
	<div class='modal-body'>
	  <div id='snapshot_update_profile_div' class='hidden'>
	    <center>
	      <b>Update Profile?</b>
	      <br>
	      <input type=checkbox
		     id='snapshot_update_profile' checked value=yes>
	    </center>
	    Check this box if you want us to update your profile to use the
	    new disk image. All nodes running the same image will be
	    updated. If you uncheck the box, you will need to modify the
	    profile source code yourself (you will receive email with the
	    name/url of the new image).
	    <br>
	    <br>
	  </div>
	  <div id='snapshot_update_script_div' class='hidden'>
	    <center>
	      <b>Please Note!</b>
	    </center>
	    Since your profile is a <em>geni-lib python</em> script, you
	    will need to update the images inside the script yourself, we
	    cannot do this for you.
	    At the end of the snapshot, we will tell you the new image name
	    so you can edit your script. 
	    <br>
	    <br>
	  </div>
	  <div id='snapshot_update_prepare_div'>
	    <center>
	      <b>Did you add any accounts or groups to your image?</b>
	      <br>
	      <input type=checkbox
		     id='snapshot_update_prepare' value=yes>
	    </center>
	    Check this box if you installed any software that added new
	    users or groups. If you are not sure, ask us first since
	    checking this box needlessly can have negative side effects. 
	    <br>
	  </div>
	  <div id='snapshot-wholedisk-div' class='hidden'>
	    <br>
	    <center>
	      Whole disk image?<br>
	      <input type=checkbox id='snapshot-wholedisk' value=yes>
	    </center>
	    Check this box if you need to capture the entire disk; you only
	    need to do this if you put data into one of the unused
	    partitions on the local disk. <b><em>Do not check this box if you
	      do not know what this means!</em></b>
	  </div>
	  <div id='nameyourimage_div' class='hidden'>
	    <br>
	    <center>
	      <b>Name your image?</b><br>
	      <input id="nameyourimage_name"
		     placeholder="alphanumeric only" type="text">
	    </center>
	    Do you want to choose the name of your image yourself? We
	    do not recommend it, but you can if you want. Alphanumeric
	    only please.
	  </div>
	  <br>
	  <center>
            <button style='margin-right: 20px;'
                    class='btn btn-primary btn-sm' 
                    data-dismiss='modal' aria-hidden='true'>
	      Cancel</button>
            <button class='btn btn-danger btn-sm'; type='button'
		    id='snapshot_confirm'>
	      Confirm</button>
	  </center>
	</div>
      </div>
    </div>
  </div>
  <div id='deletenode_modal' class='modal fade'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-header'>
          <center><h3>Confirm to Delete Nodes</h3>
	</div>
	<div class='modal-body'>
          <p>
	    Are you <b>sure</b> you want to delete nodes from your
            experiment?  This operation cannot be stopped once it is
            started!

	  </p>
	  <center>
            <button style='margin-right: 20px;'
                    class='btn btn-primary btn-sm' 
                    data-dismiss='modal' aria-hidden='true'>
	      Cancel</button>
            <button class='btn btn-danger btn-sm'; type='button'
		    id='deletenode_confirm'>
	      Confirm</button>
	  </center>
	</div>
      </div>
    </div>
  </div>
  <div id="context-menu">
    <ul class="dropdown-menu" role="menu"
	style='cursor: pointer; cursor: hand'>
      <li id="shell"><a name="shell">Shell</a></li>
      <li id="console"><a name="console">Console</a></li>
      <li id="consolelog"><a name="consolelog">Console Log</a></li>
      <li id="reboot">
	<a name="reboot"
	   data-toggle='tooltip'
	   title='Reboot node, click to confirm'
	   data-trigger="hover">Reboot</a></li>
      <li id="reload">
	<a name="reload"
	   data-toggle='tooltip'
	   title='Reload node, click to confirm'
	   data-trigger="hover">Reload</a></li>
      <li id="recovery">
	<a name="recovery"
	   data-toggle='tooltip'
	   title='Boot node into (or out of) recovery mode, click for more info'
	   data-trigger="hover">Recovery</a></li>
      <li id="delete">
	<a name="delete"
	   data-toggle='tooltip'
	   title='Delete node from experiment, click for more info'
	   data-trigger="hover">Delete Node</a></li>
    </ul>
  </div>
  <div id="context"></div>
  <div id="context-menus"></div>
  <div id='console_password_modal' class='modal fade'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-header'>
          <button type='button' class='close' data-dismiss='modal'
                  aria-hidden='true'>&times;</button>
          <center><h4>Console Password for
	    <span id='console_password_clientid'></span></h4></center>
	</div>
	<div class='modal-body'>
	  <form class="form-horizontal">
	    <div class="row">
	      <div class="col-sm-4 col-sm-offset-4">
		<div class="form-group">
		  <input onClick="this.select();"
			 id='console_password_input'
			 class='form-control'
			 readonly
			 value='#'>
		</div>
	      </div>
	    </div>
	  </form>
	</div>
      </div>
    </div>
  </div>
  <div id='confirm_reload_modal' class='modal fade'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-body'>
          <center><h3>Confirm Node <span id="confirm-which"></span></h3>
            <button type='button' style='margin-right: 20px;'
                    class='btn btn-primary btn-sm' 
                    data-dismiss='modal' aria-hidden='true'>
	      Cancel</button>
            <button class='btn btn-danger btn-sm'
		    id='confirm_reload_button'>
	      Confirm</button>
	  </center>
	</div>
      </div>
    </div>
  </div>
  <div id='confirm_recovery_modal' class='modal fade'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-body'>
	  <div class="recovery-on hidden">
	    <center>
	      <h3>Boot node <b>into</b> <em>recovery</em> mode?</h3>
	    </center>
	    When you boot a node into recovery mode, your node is
	    rebooted into a Linux memory based file system that allows
	    you to mount and correct configuration errors on your
	    disk. For example, you changed a configuration file in
	    /etc, and now your node will not boot. Use recovery mode
	    to revert the change. Then turn recovery mode off, which will
	    reboot your node again, from the disk.
	  </div>
	  <div class="recovery-off hidden">
	    <center>
	      <h3>Boot node out of <em>recovery</em> mode?</h3>
	    </center>
	  </div>
	  <center style="margin-top: 10px;">
            <button type='button' style='margin-right: 20px;'
                    class='btn btn-primary btn-sm' 
                    data-dismiss='modal' aria-hidden='true'>
	      Cancel</button>
            <button class='btn btn-danger btn-sm'
		    id='confirm_recovery_button'>
	      Confirm</button>
	  </center>
	</div>
      </div>
    </div>
  </div>
  <!-- This is the extend history modal for foreign admins -->
  <div id='extend_history_modal' class='modal fade'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-header'>
          <button type='button' class='close' data-dismiss='modal'
                  aria-hidden='true'>&times;</button>
	  <h5>Extension History</h5>
	</div>
	<div class='modal-body scrollable-panel'>
	  <table class="table table-condensed">
	    <thead>
	      <tr>
		<th>Date</th>
		<th>Action</th>
		<th>Wanted</th>
		<th>Granted</th>
	      </tr>
	    </thead>
	    <tbody>
	      <%  _.each(extensions, function(extension, idx) { %>
		<tr>
		  <td rowspan="2" class="history-tstamp">
		    <%- extension.tstamp %></td>
		  <td>
		    <% if (extension.action == "request" && extension.admin == "1") { %>
		      admin<% } else { %><%- extension.action %><% } %>
		  </td>
		  <% if (extension.action == "request") { %>
		    <td><%- extension.wantedstring %></td>
		    <td><%- extension.grantedstring %></td>
		  <% } else { %>
		    <td>n/a</td>
		    <td>n/a</td>
 	          <% } %>
		</tr>
		<tr>
		  <td colspan="3">
		    <pre class="history-reason"><%- extension.reason %></pre>
		  </td>
		</tr>
  	      <% }); %>
	    </tbody>
	  </table>
	</div>
      </div>
    </div>
  </div>
  <div id='extension-denied-modal' class='modal fade'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-header'>
          <center><h3>Your recent extension request was denied!</h3></center>
	</div>
	<div class='modal-body'>
	  <div class="well" id="extension-denied-modal-reason"></div>
	  <p>
	    We sent you an email notification, but just in case you
	    did not receive it, we are letting you know again. 
	    Clicking Dismiss will hide this message. You may also request
	    another extension if you have more information to add, or to plead
	    your case. 
	  </p>
	  <div>
	    <center>
              <button class='btn btn-primary btn-sm'
		      id='extension-denied-modal-dismiss'>
		Dismiss</button>
	    </center>
	  </div>
	</div>
      </div>
    </div>
  </div>
  <div id='confirm-update-systemimage-modal' class='modal fade'
       data-keyboard='false' data-backdrop='static'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-body'>
          <button type='button' class='close' data-dismiss='modal'
                  aria-hidden='true'>&times;</button>
          <center>
	    <h4>You are about to create or update a System Image!</h4>
	  </center>
	  <p>
	    Taking this disk snapshot might result in creating a new
	    system image or updating an existing system image. Are you
	    sure you want to do this?
	  </p>
	  <p>
	    <em>Reminder:</em> You will need to run <tt>imagerelease</tt> on 
	    the cluster (command line).
	  </p>
	  <center>
            <button type='button' style='margin-right: 20px;'
                    class='btn btn-primary btn-sm'
		    id='cancel-update-systemimage'>Cancel</button>
            <button class='btn btn-danger btn-sm'
		    id='confirm-update-systemimage'>Continue</button>
	  </center>
	</div>
      </div>
    </div>
  </div>
  <div id='ssh-failed-modal' class='modal fade'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-header'>
          <center><h4>SSH Failure!</h3></center>
	</div>
	<div class='modal-body'>
	  There was an error trying to set up your SSH shell.
	  Typically this is because the local server is using a self
	  signed certificate and your browser is unhappy about it. The
	  easiest thing to do is click on the link below, accept the
	  certificate (however your browser does that), and then try
	  again. 
	  <br>
	  <div>
	    <center>
	      Click to 
	      <a href="" target="_blank" id="accept-certificate">
		accept certificate</a>
	    </center>
	  </div>
	  <br>
	  <div>
	    <center>
              <button class='btn btn-primary btn-sm'
		      data-dismiss='modal'>
		Dismiss</button>
	    </center>
	  </div>
	</div>
      </div>
    </div>
  </div>
  <div class="hidden" id="clone-help-div">
    <!-- This is the Clone help box -->
    <div id="clone-help-panel" class="panel panel-info">
      <div class="panel-body">
	<button type='button' class='close clone-popover-close'>
          &times;</button>
	<br>
	<p>
	  You can quickly convert a running experiment into
	  a <em>new</em> profile, capturing the disk contents of your
	  node and saving it away for later use by experiments based on
	  the new profile. The new profile is a copy of the current profile,
	  but with the node you selected to image, updated to boot the
	  new image.
	</p>
	<p>
	  The node in your experiment will be shutdown, and a disk image
	  of the <b>primary</b> partition captured. You will be able to
	  track the progress of the image capture as it proceeds. 
	</p>
	<p>
	  <em>The contents of your home directory is <b>NOT</b> saved</em>. You
	  should install your software and data files in standard locations like
	  <tt>/usr/local</tt> or <tt>/opt</tt>. The reason for this is so
	  that dependencies on specific user home directories do not
	  become embedded in your images.
	</p>
      </div>
    </div>
  </div>
  <div class="hidden" id="snapshot-help-div">
    <div class="panel panel-info">
      <div class="panel-body">
	<button type='button' class='close snapshot-popover-close'>
          &times;</button>
	<br>
	<p>
	  Create a disk image, saving it away for future experiments
	  based on the same profile. This is a complete disk copy of the
	  <b>primary</b> partition on your node, everything is saved.
	  The next user to instantiate this profile will use this new
	  disk image.
	</p>
	<p>
	  After you click to confirm, the node in your experiment will
	  be shutdown, and a disk image captured. You will be able to
	  track the progress of the image capture as it proceeds.
	</p>
	<p>
	  When the imaging process is complete, we will update your
	  profile, changing the node you are imaging, to boot the new
	  image next time you start an experiment.
	</p>
	<p>
	  <em>The contents of your home directory is <b>NOT</b> saved</em>. You
	  should install your software and data files in standard locations like
	  <tt>/usr/local</tt> or <tt>/opt</tt>. The reason for this is so
	  that dependencies on specific user home directories do not
	  become embedded in your images.
	</p>
      </div>
    </div>
  </div>    
  <div class="hidden" id="imageonly-help-div">
    <div class="panel panel-info">
      <div class="panel-body">
	<button type='button' class='close'>
          &times;</button>
	<br>
	<p>
	  Create a disk image from the node selected, you can decide
	  later what profile(s) to use it in. This is a complete disk
	  copy of the <b>primary</b> partition on your node, everything
	  is saved. When the imaging process is complete we will tell
	  you the <em>URN</em> of your new image, to use in your profiles.
	</p>
	<p>
	  After you click to confirm, the node in your experiment will
	  be shutdown, and a disk image captured. You will be able to
	  track the progress of the image capture as it proceeds.
	</p>
	<p>
	  <em>The contents of your home directory is <b>NOT</b> saved</em>. You
	  should install your software and data files in standard locations like
	  <tt>/usr/local</tt> or <tt>/opt</tt>. The reason for this is so
	  that dependencies on specific user home directories do not
	  become embedded in your images.
	</p>
      </div>
    </div>
  </div>    
  <div id='lockdown-refused' class='modal fade'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class="modal-header text-center">
	  <h4>Lockdown Refused</h4>
	</div>
	<div class='modal-body'>
	  <p>
	    The lockdown request has been refused by one of the backend
	    clusters because it would throw the reservation system into chaos:
	  </p>
	  <div>
	    <pre></pre>
	  </div>
	  If you want to force this lockdown, click below.
	  <center>
            <button type='button' style='margin-right: 20px;'
		    data-dismiss='modal'
                    class='btn btn-primary btn-sm'
		    id='cancel-lockdown'>Cancel</button>
            <button class='btn btn-danger btn-sm'
		    id='force-lockdown'>Lockdown</button>
	  </center>
	</div>
      </div>
    </div>
  </div>
  <!-- This is the no extensions allowed modal -->
  <div id='no-extensions-modal' class='modal fade'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-header'>
          <button type='button' class="close"
                  data-dismiss='modal' aria-hidden='true'>&times;</button>
          <center><h4>Oops, no extensions are permitted!</h4></center>
	</div>
	<div class='modal-body'>
	  <p>
	    Extension requests for this experiment have been disabled
	    by an administrator.
	  </p>
	  <div id="extensions-disabled-reason" class="hidden">
	    <p>
	      The reason is: <span class="reason"></span>
	    </p>
	  </div>
	  <p>
	    Please contact the
	    <a href="mailto:<%- window.SUPPORT %>?subject=Experiment%20<%- expinfo.project %>/<%- expinfo.name %>"
	       target="_blank">
	      support staff</a> for more information.
	  </p>
	</div>
      </div>
    </div>
  </div>
  <!-- This is the no extension was granted modal -->
  <div id='no-extension-granted-modal' class='modal fade'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-header'>
          <button type='button' class="close"
                  data-dismiss='modal' aria-hidden='true'>&times;</button>
          <center><h4>Oops, no extension was granted!</h4></center>
	</div>
	<div class='modal-body'>
	  <p>
	    No extension was granted for your experiment!
	  </p>
	  <div class="reason-div hidden">
	    <p>
	      The reason is: <span class="reason"></span>
	    </p>
	  </div>
	  <p>
	    Please contact the
	    <a href="mailto:<%- window.SUPPORT %>?subject=Experiment%20<%- expinfo.project %>/<%- expinfo.name %>"
	       target="_blank">
	      support staff</a> for more information.
	  </p>
	</div>
      </div>
    </div>
  </div>
  <!-- Explain quarantine mode -->
  <div id='explain-quarantine-modal' class='modal fade'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-body'>
          <button type='button' class="close"
                  data-dismiss='modal' aria-hidden='true'>&times;</button>
	  <p>
	  Your experiment has been quarantined by an administrator.
	  Typically, this action would be taken because your experiment was
	  doing something that is prohibited. Your nodes have either
	  been powered off, or they were rebooted into a safe mode so
	  that you can log in and investigate. For more info, please contact
	  <%= window.APTMAILTO %>.
	  </p>
	</div>
      </div>
    </div>
  </div>
  <!-- Confirm disable Quarantine -->
  <div id='disable-quarantine-modal' class='modal fade'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-body'>
          <button type='button' class='close' data-dismiss='modal'
                  aria-hidden='true'>&times;</button>
	  <center>
	    <h3>Confirm to release from Quarantine</h3>
	    <div style="margin-top: 10px;">
              <button style='margin-right: 10px;'
                      class='btn btn-primary btn-sm' 
                      data-dismiss='modal' aria-hidden='true'>Cancel</button>
              <button class='btn btn-danger btn-sm'
		      id='confirm-disable-quarantine'>Confirm</button>
	    </div>
	  </center>
	</div>
      </div>
    </div>
  </div>
  <!-- Prestaging info -->
  <div id='prestage-info-modal' class='modal fade'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-header'>
          <button type='button' class='close' data-dismiss='modal'
                  aria-hidden='true'>&times;</button>
	  <center>
	    <h4>Prestaging Images Used By Your Profile</h4>
	  </center>
	</div>
	<div class='modal-body' style="font-size: larger;">
	  <div>
	    Some of the images used by your profile need to be
	    transferred to your resources before we can start your experiment.
	    This can take a while, <b>please be patient!</b> When all images
	    have been transferred, your experiment will continue provisioning.
	  </div>
	</div>
      </div>
    </div>
  </div>
  <!-- Ignore failures modal-->
  <div id='ignore-failure-modal' class='modal fade'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-header'>
          <button type='button' class="close"
                  data-dismiss='modal' aria-hidden='true'>&times;</button>
          <center><h4>Ignore this failure?</h4></center>
	</div>
	<div class='modal-body'>
	  <p>
	    A failed experiment is typically reaped by the system
	    within a short amount of time, to release the resources so
	    they are available for other users and experiments. If you
	    want to ignore this failure and keep your experiment,
	    click on the ignore button below and your experiment will
	    be moved from the <em>failed</em> state to the <em>ready</em>
	    state.
	  </p>
	  <p>
	    There are many reasons for a failed experiment, some of
	    which can be repaired or even ignored. For example, if
	    some of your nodes fail to boot you can often log in on
	    the console and fix the problem and then reboot. Another
	    example is if your experiment can tolerate a few failed
	    nodes and you want to continue your experiment.
	  </p>
	  <p>
	    Other errors cannot be easily fixed, for example failed
   	    hardware or a bad cable that causes your network to fail.
   	    You cannot those failures of course since your experiment
   	    cannot be productively used.
	  </p>
	  <center>
            <button type='button' style='margin-right: 20px;'
		    data-dismiss='modal'
                    class='btn btn-primary btn-sm'>
	      Cancel</button>
            <button class='btn btn-danger btn-sm'
		    id='ignore-failure-confirm'>
	      Ignore Failure</button>
	  </center>
	</div>
      </div>
    </div>
  </div>
  <div id='waitwait_div'></div>
  <div id='terminate_div'></div>
  <div id='oops_div'></div>
  <div id='register_div'></div>
  <div id='extend_div'></div>
  <div id='imaging_div'></div>
  <div id='oneonly_div'></div>
  <div id='approval_div'></div>
  <div id='linktest_div'></div>
  <div id='destroy_div'></div>
  <div id='save_paramset_div'></div>
</div>




